.problemOneContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10%;
}

.problemOneContainer > div {
    width: 500px;
    min-height: 320px;
}

.problemOneContainer input.target{
    border-radius: 2px;
    height: 30px;
    width: 60px;
    margin-right: 20px;
}

.problemOneContainer button, .problemOneContainer .target > div, .problemOneContainer .data > label {
    width: 50%;
}

.problemOneContainer .row {
    display: flex;

    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}