.problemTwoContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin-top: 50px;
}

.problemTwoContainer > div {
    width: 500px;
    min-height: 320px;
}

.problemTwoContainer button, .problemTwoContainer .data > label {
    width: 50%;
}

.problemTwoContainer .row {
    display: flex;

    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

@media (max-width: 1300px) {
    .problemTwoContainer {
        margin-left: 10%;
    }
}