body {
    margin: 0;
    font-family: 'Exo', sans-serif;
}

.app {
    display: flex;
}

.author {
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
}

@media (max-width: 1300px) {
    .app {
        flex-direction: column;
    }
}